*{
	margin: 0;
	padding: 0;
}
body{
	overflow: hidden;
	background: #000;
	height: 100vh;
}
span{
	position: absolute;
	background: url(heart2.png);
	pointer-events: none;/*
	transform: translate(-50%, -50%);*/
	width: 100px;
	height: 100px;
	background-size: cover;
	animation: bholu 2s linear infinite;
}
@keyframes bholu{
	0%{
		transform: translate(-50%, -50%);
		filter: hue-rotate(0deg);
		opacity: 1;
	}
	100%{
		transform: translate(-50%, -800%);
		filter: hue-rotate(720deg);
		opacity: ;
	}
}